Arkanoid/.idea/.idea.Arkanoid/.idea/contentModel.xml
Arkanoid/.idea/.idea.Arkanoid/.idea/workspace.xml
Arkanoid/bin/Debug/Arkanoid.exe
Arkanoid/bin/Debug/Arkanoid.pdb
Arkanoid/obj/Debug/Arkanoid.csproj.FileListAbsolute.txt
Arkanoid/obj/Debug/Arkanoid.csproj.GenerateResource.cache
Arkanoid/obj/Debug/Arkanoid.exe
Arkanoid/obj/Debug/Arkanoid.pdb
Arkanoid/obj/Debug/Arkanoid.csprojAssemblyReference.cache
Arkanoid/.idea/.idea.Arkanoid/.idea/vcs.xml